.book-body {
    background-color: #eff6e0;
}

figure {
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

ol {
    background-color: #aec3b0;
}
