.book-body {
    background-color: #eff6e0;
}

figure {
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

ol {
    background-color: #aec3b0;
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}

ol > li {
    margin: 0;
    padding; 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}

ol > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

