.book-body {
    background-color: #eff6e0;
    padding-left: 10px;
    padding-right: 10px;
}

figure {
  width: 30%;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
